.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  width: 320px; 
  height: 400px; 
  margin: 10px auto;
  border: 1.5px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 12px;
}

.item-image {
  flex: 0 0 100px;
  height: 90px;
  object-fit: cover;
  margin-top: 140px;
  border: 1px solid black;
  margin-right: 10px;
}

.notes {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  padding-top: 42px; 
}

.location {
  position: absolute;
  bottom: 10px;
  right: -10px;
  width: auto; 
}