

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 65px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 320px; 
  height: 450px; 
  border: 1.5px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

