html, body, #react-root {
  height: 100%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 60px; /* Adjust if navbar height > 60px */
  /* background-color: #18245A; */
  background-color: #646464;
  /* background-color: rgb(188, 188, 188); */
}
img {
  display: inline-block;
  max-width: 100%;
}



/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */



/* This line makes the "Register" and "Login" buttons look like links */




/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #c40f0f;
  background-color: #000000;
  border-radius: 3px;
  color: #c40f0f;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
