.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
    margin: auto;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom:20px !important;
  }
  

  .input-container input {
    margin-top:10px !important;
    width: 100%;
    padding: 15px 10px;
    font-size: 17px; 
    border: 1px solid black;
    border-radius: 15px; 
   color:  #c40f0f;
    margin: 10px 0;
  }
  
  .input-container label,
  .input-container input {
    width: 100%;
    
  }
  
  .button-container {
    display: block !important; 
    width: 100% !important; 
    margin-top:30px !important; 
    text-align: center; 
    
    
  }
  
  .btn {
    background-color: #c40f0f !important;;
    color: black !important;
    width: 100%;
    padding: 5px;
    margin-top:40px !important; 
    margin-left: 60px;
    border-radius: 10px;
   
  }
  .btn:not(:last-child) {
    margin-right: 2px; /* Adds space to the right of each button except the last button */
  }
  
  .login-btn {
    text-align: center;
    margin-right: 20px !important;
    
  }
  
  .register-btn {
    text-align: center;
    margin-right: 0px !important;
  }