.cameraButton {
    width: 150px; /* Set the width of the button */
    height: 150px; /* Set the height of the button */
    border-radius: 50%; /* Make the button a circle */
    background-color: black; /* Set the background color to black */
    background-image: url('/CameraIcon.jpg'); /* Set the image as the background */
    background-size: 450px; /* Cover the entire background with the image */
    background-position: center; /* Center the image within the button */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove default focus outline */
    position: fixed; /* Position the button relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
}

.fileButton {
    width: 130px; /* Set the width of the button */
    height: 130px; /* Set the height of the button */
    border-radius: 50%; /* Make the button a circle */
    background-color:gray; /* Set the background color to black */
    background-image: url('/FileIcon.jpg'); /* Set the image as the background */
    background-size: 420px; /* Cover the entire background with the image */
    background-position: center; /* Center the image within the button */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove default focus outline */
    position: fixed; /* Position the button relative to the viewport */
    top: 200px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
}
.recordButton{
    width: 100px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    border-width: 10px;
    background-color: red;
    border-color: black;
    border-radius: 50%; /* Make the button a circle */
    position: fixed; /* Position the button relative to the viewport */
    bottom: 50px; /* Distance from the bottom of the viewport */
    left: 85%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */

}

.cameraInput{
    opacity: 0;
    position: fixed; /* Position the button relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
}
.fileInput{
    opacity: 0;
    position: fixed; /* Position the button relative to the viewport */
    top: 200px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
}
.videoInput{
    opacity: 0;
    position: fixed; /* Position the button relative to the viewport */
    top: 200px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
}

.audioRecorder{
    position: fixed; /* Position the button relative to the viewport */
    bottom: 100px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
    background-color: aqua;
}

.audioRecorderDiv{
    position: fixed;
    bottom: 50px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
    content:icon;
}

div.audio-recorder {
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
}
div.audio-recorder.recording{
    width: 150px;
}
span.audio-recorder-status{
    background-color: #f0f0f0;
    position: fixed;
    bottom: 200px; /* Distance from the bottom of the viewport */
    left: 40%;
    transform: translateX(-50%); /* Adjust horizontally to center */
}
span.audio-recorder-timer{
    background-color: #f0f0f0;
    position: fixed;
    bottom: 200px;
    left: 10px; 
    transform: translateX(-50%); 
}
img.audio-recorder-options{
    background-color: #f0f0f0;
    position: relative;
    bottom: 110px;
    right: -40px; 
    transform: translateX(-50%);
}
.audio-recorder .audio-recorder-mic {
    border-radius: 50% !important;
}
img.audio-recorder-mic{
    background-color: white;
    border-color: #f0f0f0;
    src: url('/FileIcon.jpg') !important; 
    width: 150px;
    height: 150px;
    border-width: 10px;
    border-color: #f0f0f0;
    border-radius: 50%;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    margin-bottom: 20px;
  }
  




