html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.basicBackground {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 85px;
}

.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-label {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}
.button-label-audio {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 45px;
}

.cameraButton, .fileButton, .recordButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
}

.cameraButton {
    background-image: url('/CameraIcon.jpg');
    background-size: 300px;
}

.fileButton {
    background-color: gray;
    background-image: url('/FileIcon.jpg');
    background-size: 280px;
}

.recordButton {
    background-color: red;
    border: 10px solid black;
}

.cameraInput, .fileInput, .videoInput {
    display: none;
}

.file-button-container {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.camera-button-container {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.record-button-container {
    bottom: 50px;
    right: 15%;
}

.audio-recorder-container {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}

div.audio-recorder {
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

div.audio-recorder.recording {
    width: 150px;
}

span.audio-recorder-status {
    background-color: #f0f0f0;
    position: absolute;
    bottom: 200px;
    left: 40%;
    transform: translateX(-50%);
}

span.audio-recorder-timer {
    background-color: #f0f0f0;
    position: absolute;
    bottom: 200px;
    left: 10px;
    transform: translateX(-50%);
}

img.audio-recorder-options {
    background-color: #f0f0f0;
    position: absolute;
    bottom: 110px;
    right: -40px;
    transform: translateX(-50%);
}

.audio-recorder .audio-recorder-mic {
    border-radius: 50% !important;
}

img.audio-recorder-mic {
    background-color: white;
    border: 10px solid #f0f0f0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .button-label {
        font-size: 16px;
    }

    .cameraButton, .fileButton, .recordButton {
        width: 120px;
        height: 120px;
    }

    .record-button-container {
        right: 10%;
    }
}

@media (max-width: 480px) {
    .basicBackground {
        padding-top: 60px;
    }

    .button-label {
        font-size: 16px;
    }

    .cameraButton, .fileButton, .recordButton {
        width: 100px;
        height: 100px;
    }

    .file-button-container {
        top: 150px;
    }

    .camera-button-container {
        bottom: 10px;
    }

    .record-button-container {
        bottom: 30px;
        right: 5%;
    }
}