/* HelpPage.css */
.help-page-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .help-page-container {
      padding: 75px;
    }
  }


  
  .video-placeholder {
    background-color: #ddd;
    width: 100%;
    max-width: 300px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }